* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
  max-width: 100vw; }

html {
  font-size: 62.5%; }

body {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, auto);
  grid-template-areas: "header" "nav" "main" "main" "aside" "aside" "iframe" "footer";
  background-color: #5a0404;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fc0505' fill-opacity='0.22' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E"); }

/*HEADER*/
header {
  grid-area: header; }
  header h2 {
    text-shadow: 2px 2px 5px #FFF6BE;
    font-size: 1.6rem; }
  header .header_a {
    width: 10%; }
  header button.navbar-toggler {
    background-color: #252222; }
  header ul {
    background-color: #252222; }
    header ul a.nav-link:hover {
      background-color: #f7c288; }

@media only screen and (min-width: 360px) {
  header h2 {
    font-size: 2rem; } }

@media only screen and (min-width: 600px) {
  header {
    grid-column: 1/3;
    flex-flow: row nowrap; }
    header h2 {
      font-size: 3rem; } }

@media only screen and (min-width: 900px) {
  header h2 {
    font-size: 3.5rem; }
  header .header_a {
    width: 7%; } }

@media only screen and (min-width: 1400px) {
  header a.nav-link {
    font-size: 1.5rem; } }

/*MAIN*/
main {
  grid-area: main;
  grid-row: 2/4;
  margin-top: 2%;
  margin-bottom: 2%; }
  main section article h1 {
    font-size: 1.2rem;
    text-shadow: 2px 2px 5px #FFF6BE; }
  main section article p {
    font-size: 1rem;
    background-color: #f7c288;
    font-family: 'Roboto', sans-serif;
    padding: 6%;
    text-indent: 2%; }
  main .postGuerra {
    margin-top: 1%; }
    main .postGuerra p {
      background: none;
      border-style: none; }

@media only screen and (min-width: 360px) {
  main {
    grid-row: 2/2; }
    main section article h1 {
      font-size: 1.8rem; }
    main section article p {
      font-size: 1.2rem; } }

@media only screen and (min-width: 600px) {
  main {
    grid-row: 2/4;
    grid-column: 1/2; } }

@media only screen and (min-width: 900px) {
  main section article h1 {
    font-size: 2.5rem; }
  main section article p {
    font-size: 1.7rem; } }

@media only screen and (min-width: 1400px) {
  main section article h1 {
    font-size: 2.7rem; }
  main section article p {
    font-size: 2rem; } }

/*ASIDE*/
aside {
  grid-area: aside;
  grid-row: 4/6;
  display: flex;
  align-items: center;
  flex-direction: column; }
  aside .asideArticle {
    width: 100%;
    background-color: #f7c288;
    padding: 2%;
    margin-bottom: 2%; }
    aside .asideArticle p {
      font-size: 1rem;
      margin-top: 1%;
      margin-bottom: 1%; }
  aside .carousel {
    margin-bottom: 2%; }
  aside .asideQuinta {
    background-color: #f7c288;
    padding: 2%;
    margin-bottom: 2%; }
  aside #img1 {
    margin-bottom: 2%;
    width: 55%;
    border-style: double; }
  aside #img2 {
    margin-bottom: 2%;
    width: 55%;
    border-style: double; }
  aside #img3 {
    margin-bottom: 2%;
    width: 55%;
    border-style: double; }
  aside #imgSegunda1 {
    margin-bottom: 2%;
    width: 55%;
    border-style: double; }
  aside #imgSegunda2 {
    margin-bottom: 2%;
    width: 55%;
    border-style: double; }
  aside #imgSegunda3 {
    margin-bottom: 2%;
    width: 55%;
    border-style: double; }
  aside #imgTercera1 {
    margin-bottom: 2%;
    width: 55%;
    border-style: double; }
  aside #imgTercera2 {
    margin-bottom: 2%;
    width: 55%;
    border-style: double; }
  aside #imgTercera3 {
    margin-bottom: 2%;
    width: 55%;
    border-style: double; }
  aside #imgCuarta1 {
    margin-bottom: 2%;
    width: 55%;
    border-style: double; }
  aside #imgCuarta2 {
    margin-bottom: 2%;
    width: 55%;
    border-style: double; }
  aside #imgCuarta3 {
    margin-bottom: 2%;
    width: 55%;
    border-style: double; }
  aside #imgQuinta1 {
    margin-bottom: 2%;
    width: 55%;
    border-style: double; }
  aside #imgQuinta2 {
    margin-bottom: 2%;
    width: 55%;
    border-style: double; }

@media only screen and (min-width: 360px) {
  aside .asideArticle p {
    font-size: 1.2rem; } }

@media only screen and (min-width: 600px) {
  aside {
    grid-row: 2/2;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 1%;
    align-items: start;
    flex-flow: row wrap;
    background-color: #f7c288;
    padding: 1%;
    border-style: inset; }
    aside .asideArticle2, aside .asideQuinta {
      grid-column: 1/3;
      font-family: 'Roboto', sans-serif;
      width: 100%;
      background-color: #FFF6BE;
      margin-top: 5%;
      padding: 2%; }
      aside .asideArticle2 h3, aside .asideQuinta h3 {
        text-align: left;
        font-size: 1.5rem; }
      aside .asideArticle2 p, aside .asideQuinta p {
        text-indent: 2%;
        font-size: 1rem; }
    aside .asideQuinta {
      font-size: 1rem; }
      aside .asideQuinta h3 {
        text-align: left;
        font-size: 1.5rem; }
      aside .asideQuinta p {
        text-indent: 2%;
        font-size: 1rem; }
    aside .carousel {
      grid-column: 1/3;
      overflow: hidden; }
  /*INDEX*/
  #img1 {
    width: 100% !important; }
  #img2 {
    width: 100% !important; }
  #img3 {
    width: 100% !important;
    grid-column: 1/3;
    margin-top: 5%; }
  /*SEGUNDA*/
  #imgSegunda1 {
    width: 100% !important; }
  #imgSegunda2 {
    width: 100% !important; }
  #imgSegunda3 {
    width: 100% !important;
    grid-column: 1/3; }
  /*TERCERA*/
  #imgTercera1 {
    width: 100% !important; }
  #imgTercera2 {
    width: 100% !important; }
  #imgTercera3 {
    width: 100% !important;
    grid-column: 1/3; }
  /*CUARTA*/
  #imgCuarta1 {
    width: 100% !important; }
  #imgCuarta2 {
    width: 100% !important; }
  #imgCuarta3 {
    width: 100% !important;
    grid-column: 1/3; }
  #imgQuinta1 {
    width: 100% !important; }
  #imgQuinta2 {
    width: 100% !important; } }

@media only screen and (min-width: 900px) {
  aside {
    grid-template-rows: repeat(3, auto); }
    aside .asideArticle h3 {
      font-size: 2rem; }
    aside .asideArticle p {
      font-size: 1.5rem; }
    aside .asideQuinta h3 {
      font-size: 2rem; }
    aside .asideQuinta p {
      font-size: 1.5rem; } }

@media only screen and (min-width: 1200px) {
  aside .asideArticle {
    grid-column: 1/2; }
  /*INDEX*/
  #img3 {
    grid-column: 2/3;
    grid-row: 3/3; }
  /*SEGUNDA*/
  #imgSegunda3 {
    grid-column: 2/3;
    grid-row: 3/3; }
  /*TERCERA*/
  #imgTercera3 {
    grid-column: 2/3;
    grid-row: 3/3; }
  /*CUARTA*/
  #imgCuarta3 {
    grid-column: 2/3;
    grid-row: 3/3; } }

/*IFRAME*/
section {
  margin-top: 2%;
  grid-area: iframe; }

/*FOOTER*/
footer {
  grid-area: footer; }
  footer .form {
    font-size: 1rem; }
    footer .form legend {
      text-shadow: 2px 2px 5px #FFF6BE; }
    footer .form label.footerFieldset {
      text-shadow: 2px 2px 5px #FFF6BE; }
    footer .form textarea {
      font-size: 1rem; }
    footer .form input {
      font-size: 1rem; }
  footer address {
    text-shadow: 2px 2px 5px #FFF6BE;
    font-size: 1.2rem; }

@media only screen and (min-width: 360px) {
  footer {
    grid-area: footer; }
    footer .form {
      font-size: 1.2rem; }
      footer .form legend {
        font-size: 1.1rem; }
      footer .form label.footerFieldset {
        font-size: 1.2rem; }
      footer .form textarea {
        font-size: 1.2rem; }
      footer .form input {
        font-size: 1.2rem; }
    footer address {
      font-size: 1.5rem; } }

@media only screen and (min-width: 600px) {
  footer {
    grid-column: 1/3; }
    footer .form {
      font-size: 1rem; }
      footer .form legend {
        font-size: 1.5rem; }
      footer .form label.footerFieldset {
        font-size: 1.5rem; }
      footer .form textarea {
        font-size: 1.5rem; }
      footer .form input {
        font-size: 1.5rem; }
    footer address {
      font-size: 1.7rem; } }

@media only screen and (min-width: 900px) {
  footer .form {
    font-size: 1.7rem; }
    footer .form legend {
      font-size: 1.7rem; }
    footer .form label.footerFieldset {
      font-size: 1.7rem; }
    footer .form textarea {
      font-size: 1.7rem; }
    footer .form input {
      font-size: 1.7rem; }
  footer address {
    font-size: 2rem; } }

@media only screen and (min-width: 600px) {
  body {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    row-gap: 2vh;
    column-gap: 2vw; }
  /*IFRAME*/
  section {
    grid-column: 1/3;
    overflow: hidden; }
  section iframe {
    width: 100%;
    height: 100%; } }
