//variables
$textShadow:2px 2px 5px #FFF6BE;
//Mixins
@mixin images ($marginBottom, $width) {
    margin-bottom: $marginBottom;
    width: $width;
    border-style: double;
}
//Map
$paleta: (
    'naranja': #f7c288,
    'amarilloCrema': #FFF6BE,
    'negro': rgb(37, 34, 34)); 