main {
    grid-area: main;
    grid-row: 2/4;
    width: 100%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    section article h1 {
        font-size: 1.2rem;
        text-shadow: $textShadow;
    }
    section article p {
        font-size: 1rem;
        background-color: map-get($map: $paleta, $key: 'naranja');
        border-style: inset;
        font-family: 'Roboto', sans-serif;
        padding: 6%;
        text-indent: 2%;
    }
    .postGuerra {
        border-style: inset;
        margin-top: 1%;
        h3 {
            font-size: 2.5rem;
            text-shadow: 2px 2px 5px #f7c288;
        }
        p {
            color: white;
            background: none;
            border-style: none;
        }
    }
}
@media only screen and (min-width: 360px) {
    main {
        grid-area: main;
        grid-row: 2/2;
        section article h1 {
            font-size: 1.8rem;
        }
        section article p {
            font-size: 1.2rem;
        }
    }
}
@media only screen and (min-width: 600px) {
    main {
        grid-row: 2/4;
        grid-column: 1/2;
        width: 100%;
        section article p {
            font-size: 1.1rem;
        }   
    }
}
@media only screen and (min-width: 900px) {
    main {
        section article h1 {
            font-size: 2.5rem;
        }
        section article p {
            font-size: 1.5rem;
        }
    }
}
@media only screen and (min-width: 1400px) {
    main {
        section article h1 {
            font-size: 2.7rem;
        }
        section article p {
            font-size: 2rem;
        }    
    }
}