main {
    grid-area: main;
    grid-row: 2/4;
    margin-top: 2%;
    margin-bottom: 2%;
    section article h1 {
        font-family: 'Cinzel Decorative', cursive;
        font-size: 1.2rem;
        text-shadow: $textShadow;
    }
    section article p {
        font-size: 1rem;
        background-color: map-get($map: $paleta, $key: 'naranja');
        font-family: 'Merriweather', serif;        
        padding: 6%;
        text-indent: 2%;
    }
}
@media only screen and (min-width: 360px) {
    main {
        grid-row: 2/2;
        section article h1 {
            font-size: 1.8rem;
        }
        section article p {
            font-size: 1.2rem;
        }
    }
}
@media only screen and (min-width: 600px) {
    main {
        grid-row: 2/4;
        grid-column: 1/2;   
    }
}
@media only screen and (min-width: 900px) {
    main {
        section article h1 {
            font-size: 2.5rem;
        }
        section article p {
            font-size: 1.7rem;
        }
    }
}
@media only screen and (min-width: 1400px) {
    main {
        section article h1 {
            font-size: 2.7rem;
        }
        section article p {
            font-size: 2rem;
        }    
    }
}